@model BlogEngine.Models.Entities.Post

@{
    ViewBag.Title = "Create a new Post";
}

@{Html.RenderPartial("~/Views/Shared/_MainMenu.cshtml", new ViewDataDictionary { { "MenuID", 1 } });}

<div class="container">

    @{Html.RenderPartial("~/Views/Shared/_Header.cshtml");}

    <div class="row">
        @*Example of not posting a form on submit*@
        @*using (Html.BeginForm(null, null, FormMethod.Post, new { onsubmit = "return false;" }))*@
        @using (Html.BeginForm())        
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>Create a Post</legend>

                <div class="editor-label">
                    @Html.LabelFor(model => model.CategoryID)
                </div>
                <div class="editor-field">
                    @Html.DropDownList("CategoryList")
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Subject)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Subject)
                    @Html.ValidationMessageFor(model => model.Subject)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Body)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.Body)
                    @Html.ValidationMessageFor(model => model.Body)
                </div>
                <div class="editor-label">
                    &nbsp;
                </div>
                <div class="editor-field">
                    <input type="submit" id="btnSubmit" value="Create Post" class="btn btn-primary btn-lg" />
                    @Html.ActionLink("Cancel", "Index", "Home", null, new {@class = "btn btn-primary btn-lg"})
                </div>
            </fieldset>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")

    <script type="text/javascript" src="../../Scripts/tinymce/tinymce.min.js"></script>
    <script type="text/javascript">
        tinymce.init({
            mode: "specific_textareas",
            editor_selector: "tinymce",
            encoding: "xml",
            setup: function (editor) {
                editor.on('SaveContent', function (ed) {
                    ed.content = ed.content.replace(/&#39/g, "&apos");
                });
            }
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnSubmit").click(function () {
                tinyMCE.triggerSave();
            });
        });
    </script>
}